<div class="well">
    <div class="taskgrid-nav navbar">
        <ul class="nav nav-pills" role="tablist">
            <li><a role="button" href="#/editor/task//create"><i class="fa fa-plus" aria-hidden="true"></i>
                Task</a>
            </li>
            <li class="pull-right">
                <label class="control-label" for="closingtarget">Closed group</label><br>
                <select id="closingtarget" class="form-control" ng-model="$ctrl.closed_status">
                    <option ng-repeat="group in $ctrl.groups" value="{{group.uuid}}">
                        <span>{{group.name}}</span>
                    </option>
                </select>
            </li>
        </ul>
    </div>

    <div class="tab-content">

        <div class="tab-pane active" id="todo">
            <div class="taskHeader">
                <h3>{{$ctrl.filtername }}
                    <a class="pull-right" href="">
                        <span class="fa fa-edit"></span>
                    </a>
                </h3>
            </div>
            <ul class="todoList">
                <li class="taskBoxHeader" ng-repeat="(uuid, task) in $ctrl.tasklist">
                    <ul class="tagList">
                        <li class="tagPill"
                            ng-repeat="tag in task.tags"
                            title="{{$ctrl.tags[tag.uuid].name}}"
                            ng-style="{background: $ctrl.tags[tag.uuid].color}"></li>
                    </ul>
                    <div class="todoCheck">
                        <span class="todoState fa"
                              ng-class="{'fa-times': task.status != $ctrl.closed_status,
                                         'fa-check': task.status == $ctrl.closed_status}"
                              ng-click="$ctrl.toggle_task(uuid)">
                        </span>
                    </div>
                    <div class="todoTask">
                        <a href="#/editor/task/{{uuid}}/edit">{{task.name}}</a>
                        <span class="taskShowDesc pull-right fa"
                              ng-show="task.notes.length > 0"
                              ng-click="task.showDescription = !task.showDescription"
                              ng-class="{'fa-chevron-down':!task.showDescription,'fa-chevron-up':task.showDescription}">
                        </span>

                        <div ng-show="task.showDescription" class="taskDescription"
                             ng-bind-html="$ctrl.tasklist[uuid].notes">

                        </div>
                        <div class="taskLabels">
                            <span class="taskProjectName"
                                  ng-show="task.project != null"
                                  ng-bind="$ctrl.projects[task.project].name">

                            </span>
                            <span class="taskAlertTime"
                                  ng-show="task.alert != null"><span class="fa fa-bell-o"></span>{{::task.alert}}
                            </span>

                            <div class="taskIcons">
                                <span class="fa fa-paperclip"
                                              title="Has {{task.references.length}} reference{{task.references.length > 1 ? 's' : ''}}"
                                              ng-show="task.references.length > 0">

                                </span>
                                <span class="fa fa-comments"
                                      title="Has {{task.comments.length}} comment{{task.comments.length > 1 ? 's' : ''}}"
                                      ng-show="task.comments.length > 0">

                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

