# Basics
circuits==3.1.0
pymongo==3.0.3
jsonschema==2.5.1
pynmea2==1.4.0
git+https://github.com/hackerfleet/warmongo.git

# Compat
six

# Linting, QA
pyflakes
pylint
pep8
doc8
mccabe

# Convenient Development Tasks
Fabric

# Debugging
pudb

# Packaging
wheel

# Running Tests
tox
pytest
coveralls
pytest-cov

# Generating Documentation
Sphinx
releases
Sphinx-PyPI-upload
sphinx-issues
sphinxcontrib-actdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
sphinxcontrib-blockdiag
sphinxcontrib-spelling
#sphinxcontrib-autojs
pyenchant
sphinx-git
