# Basics
setuptools
git+https://github.com/circuits/circuits.git
pymongo>=3.2
jsonschema>=2.6.0
git+https://github.com/hackerfleet/warmongo.git
# virtualenv-api>=2.1.11
pyOpenSSL>=17.0.0
pystache>=0.5.4
dpath>=1.4.0
deepdiff>=3.2.1
click>=6.7.0
click-didyoumean>=0.0.3
click-repl>=0.1.2
prompt-toolkit>=1.0.15

# Compat
six
