# Basics
circuits==3.1.0
pymongo==3.0.3
jsonschema==2.5.1
pynmea2==1.3.7
git+https://github.com/hackerfleet/warmongo.git

# Compat
six

# Linting, QA
pyflakes
pep8
mccabe

# Convenient Development Tasks
Fabric

# Debugging
pudb

# Packaging
wheel

# Running Tests
tox
pytest
coveralls
pytest-cov

# Generating Documentation
Sphinx
releases
Sphinx-PyPI-upload
