# Basics
git+https://github.com/circuits/circuits.git
pymongo>=3.2
jsonschema==2.5.1
pynmea2>=1.5.2
git+https://github.com/hackerfleet/warmongo.git
pyserial==3.0.1
virtualenv-api==2.1.7

# Compat
six
