#!/usr/bin/env python
# -*- coding: UTF-8 -*-

# {{description}}
# {{descriptionheader}}
# Copyright (C) {{year}}, {{authorname}} <{{authoremail}}>.
#
{{licenselongtext}}

from setuptools import setup, find_packages

setup(name="hfos-{{pluginname}}",
      version="{{version}}",
      description="HFOS module: {{description}}",
      author="{{authorname}}",
      author_email="{{authoremail}}",
      url="https://github.com/{{githuburl}}/",
      license="{{license}}",
      packages=find_packages(),
      long_description="""{{longdescription}}""",
      keywords=[
          {{keywordlist}}
      ],
      dependency_links=[],
      install_requires=['hfos==1.0.0'],
      entry_points="""[hfos.components]
          {{componentname}}=hfos.{{pluginname}}.{{pluginname}}:{{componentname}}Component
[hfos.schemata]
    {{componentname}}Schema=hfos.{{pluginname}}.schemata:{{componentname}}Schema
""",
      test_suite="tests.main.main",
      )
