@import '../../../scss/colors';

.leaflet-control-container > div {
  z-index: 30;
}

.leaflet-container a {
  color: $color-gray-dark !important;
  &:hover {
    color: $color-primary-2 !important;
  }
}


.leaflet-grid-label .lng {
  margin-left: 8px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.leaflet-bottom {
  bottom: 20px !important;
}

.aside {
  z-index: 10002;
}

.layer-toggle {
  color: $color-link;
  width: 20px;
  font-size: 18px;
  vertical-align: bottom;
}

.leaflet-control-layers {
  display: none;
}

.leaflet-grid-label .gridlabel-vert {
  margin-left: 8px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.leaflet-grid-label .gridlabel-vert,
.leaflet-grid-label .gridlabel-horiz {
  padding-left:2px;
  mix-blend-mode: difference;
  text-shadow: -1px -1px 0 $color-gray-light,
               1px -1px 0 $color-gray-light,
               -1px 1px 0 $color-gray-light,
               1px 1px $color-gray-light;
}

#map-sidebar ul {
  list-style-type: none;
  padding-left: 10px;
}

#map-sidebar > div > div.tab-content {
  max-height: calc(100vh - 175px);
  overflow-y: auto;
}

#map-sidebar .pull-right .fa {
  color: $color-gray-light;
  &:hover {
    color: $color-gray-dark;
  }
}

#map-sidebar {
  padding: 0;
  margin: 0;
}

#map-sidebar .slider.slider-horizontal {
  width: 96% !important;
}

#map-sidebar .tab-content {
  margin: 10px;
  /*min-width: 320px;
  max-width: 320px;*/
  overflow-wrap: break-word;
}

#layer_selector, #layergroup_selector {
  overflow-y: auto;
}

#current_zoom {
  margin-left: 20px;
}

.layer-expander {
  width: 15px;
}

.layer_zoom .slider-handle.custom::before,
.layer_opacity_level .slider-handle.custom::before {
  color: $color-primary-4;
  content: '\275a';
  line-height: 15px;
}

.layer_zoom_levels .slider.slider-disabled .slider-handle {
  background-image: none;
}

.layer_zoom_levels .slider-handle.custom::before {
  color: $color-gray-dark;
  line-height: 18px;
  font-size: 25px;
}

.layer_zoom_levels .slider-handle.custom {
  margin-left: 0;
}

.layer_zoom_levels .slider-handle.custom::before {
  content: '\21a6';
}


.layer_zoom_levels .slider-handle.custom:last-of-type {
  margin-left: -20px;
}
.layer_zoom_levels .slider-handle.custom:last-of-type::before {
  content: '\21a4';
}

#gdal_loader {
  /* max-width: 25vw; */
}