<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide();">&times;</button>
                <h4 class="aside-title">Map Sidebar</h4>
            </div>
            <div id="mapsidebar" class="aside-body bs-sidebar" style="float:right;">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Layers">
                        <ul class="layer-overview">
                            <li ng-repeat="(name, layers) in $ctrl.layers">
                                <h4>{{name == 'baselayers' && 'Base ' || 'Overlay '}} Layers</h4>
                                <ul class="layer-list">
                                    <li ng-repeat="(uuid, layer) in $ctrl.layers[name]">
                                        <!-- {{layer}} -->

                                        <a ng-click="$ctrl.switchLayer(name, uuid)">
                                            <span class="layer-toggle fa"
                                                  ng-class="
                                                  {'fa-square-o': name == 'overlays' && !$ctrl.leafletlayers[name].hasOwnProperty(uuid),
                                                   'fa-check-square-o': name == 'overlays' && $ctrl.leafletlayers[name].hasOwnProperty(uuid),
                                                   'fa-circle-o': name == 'baselayers' && !$ctrl.leafletlayers[name].hasOwnProperty(uuid),
                                                   'fa-dot-circle-o': name == 'baselayers' && $ctrl.leafletlayers[name].hasOwnProperty(uuid)
                                                   }"></span>
                                            <span ng-bind="layer.name"></span>
                                        </a>
                                        <div class="pull-right">
                                            <a href="#/editor/layer/{{layer.uuid}}/edit"><span class="fa fa-pencil"></span></a>
                                            <a href="#/editor/layer/{{layer.uuid}}/copy"><span
                                                    class="fa fa-copy"></span></a>
                                        </div>
                                        <slider ng-show="name == 'overlays'"
                                                ng-model="layer.layerOptions.opacity"
                                                tooltip="hide"
                                                step="0.1"
                                                min="0"
                                                max="1">
                                        </slider>

                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </uib-tab>

                    <uib-tab index="1" heading="Mapviews">
                        <ul>
                            <li ng-repeat="(name, mapview) in $ctrl.mapviews">
                                <a ng-click="$ctrl.switchMapview(mapview.uuid)">
                                    <span class="layer-toggle fa"
                                          ng-class="
                                                  {'fa-circle-o': $ctrl.mapviewuuid != mapview.uuid,
                                                   'fa-dot-circle-o': $ctrl.mapviewuuid == mapview.uuid
                                                   }"></span>
                                    <span ng-bind="mapview.name"></span>
                                </a>
                                <div class="pull-right">
                                    <a href="#/editor/mapview/{{mapview.uuid}}/edit"><span class="fa fa-pencil"></span></a>
                                    <a href="#/editor/mapview/{{mapview.uuid}}/copy"><span
                                            class="fa fa-copy"></span></a>
                                </div>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab index="2" heading="Vessels" disable="true">
                    </uib-tab>
                    <uib-tab index="3" heading="Geo Objects">
                        <ul>
                            <li ng-repeat="(name, geoobject) in $ctrl.geoobjects">
                                <a ng-click="$ctrl.switchGeoobject(geoobject.uuid)"><span
                                        ng-bind="geoobject.name != null ? geoobject.name : 'Untitled Object'"></span></a>
                                <div class="pull-right">
                                    <a href="#/editor/geoobject/{{geoobject.uuid}}/edit"><span
                                            class="fa fa-pencil"></span></a>
                                    <a href="#/editor/geoobject/{{geoobject.uuid}}/copy"><span
                                            class="fa fa-copy"></span></a>
                                </div>

                            </li>
                        </ul>
                    </uib-tab>


                    <!--                    <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                                            {{tab.content}}
                                        </uib-tab>
                                        <uib-tab index="3" select="alertMe()">
                                            <uib-tab-heading>
                                                <i class="glyphicon glyphicon-bell"></i> Alert!
                                            </uib-tab-heading>
                                            I've got an HTML heading, and a select callback. Pretty cool!
                                        </uib-tab>
                    -->
                </uib-tabset>

            </div>
            <div class="aside-footer">
                <small>-</small>
            </div>
        </div>
    </div>
</div>
