'use strict';

/**
 * @ngdoc function
 * @name hfosFrontendApp.controller:{{component_name}}Controller
 * @description
 * # {{component_name}}Controller
 * Controller of the hfosFrontendApp {{plugin_name}} module
 */
angular.module('hfosFrontendApp')
    .controller('{{component_name}}Controller', function ($scope, ObjectProxy) {
        $scope.variable = 'Hello World!';

    })
    .config(function ($routeProvider) {
        $routeProvider
            .when('/{{plugin_name}}', {
                templateUrl: '{{plugin_name}}/views/{{plugin_name}}.html'
            });
    });
