{
  "name": "hfos-{{plugin_name}}",
  "version": "{{version}}",
  "description": "HFOS - {{description}}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/{{github_url}}.git"
  },
  "keywords": [
    {{keyword_list}}
  ],
  "author": "{{author_name}}",
  "license": "{{license}}",
  "bugs": {
    "url": "https://github.com/{{github_url}}/issues"
  }
}