#!/usr/bin/env python
# -*- coding: UTF-8 -*-

# {{description}}
# {{description_header}}
# Copyright (C) {{year}}, {{author_name}} <{{author_email}}>.
#
{{license_longtext}}

from setuptools import setup, find_packages

setup(name="hfos-{{plugin_name}}",
      version="{{version}}",
      description="HFOS module: {{description}}",
      author="{{author_name}}",
      author_email="{{author_email}}",
      url="https://github.com/{{github_url}}/",
      license="{{license}}",
      packages=find_packages(),
      long_description="""{{long_description}}""",
      keywords=[
          {{keyword_list}}
      ],
      dependency_links=[],
      install_requires=['hfos==1.1.0'],
      entry_points="""[hfos.components]
          {{component_name}}=hfos.{{plugin_name}}.{{plugin_name}}:{{component_name}}Component
[hfos.schemata]
    {{component_name}}Schema=hfos.{{plugin_name}}.schemata:{{component_name}}Schema
""",
      test_suite="tests.main.main",
      )
