<div class="container" ng-controller="{{component_name}}Controller">
    <h1>{{plugin_name}} View</h1>
    <span>This is your newly created view and here is a scope-variable: \{{variable}}</span>
</div>
