<div class="well">
    <H1>Common object sharing</H1>

    <form name="reservationform" class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label" for="reservationtarget">Shareable</label><br>
            <select id="reservationtarget" class="form-control" ng-model="$ctrl.reservationtarget">
                <option ng-repeat="shareable in $ctrl.reservationlookup" value="{{shareable.uuid}}">
                    <span>{{shareable.name}}</span>
                </option>
            </select>

            <button class="btn btn-default" type="button" ng-click="$ctrl.reserving = true">
                Reserve
            </button>
        </div>

        <div class="form-group" ng-show="$ctrl.reserving">
            <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i> From:</label><br>
                <div class="form-group">
                    <input type="text" size="10" class="form-control" ng-model="$ctrl.reserve_from"
                           data-autoclose="1"
                           placeholder="Date" bs-datepicker>
                </div>
                <div class="form-group">
                    <input type="text" size="8" class="form-control" ng-model="$ctrl.reserve_from"
                           data-time-format="h:mm:ss a" data-autoclose="1" placeholder="Time" bs-timepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i> To:</label><br>
                <div class="form-group">
                    <input type="text" size="10" class="form-control" ng-model="$ctrl.reserve_to" data-autoclose="1"
                           placeholder="Date" bs-datepicker>
                </div>
                <div class="form-group">
                    <input type="text" size="8" class="form-control" ng-model="$ctrl.reserve_to"
                           data-time-format="h:mm:ss a" data-autoclose="1" placeholder="Time" bs-timepicker>
                </div>
            </div>
        </div>

        <div class="form-group">
            <br>
            <button class="btn btn-success" ng-click="$ctrl.reserve()"
                    ng-show="$ctrl.reserve_from != '' && $ctrl.reserve_to != ''">Query
            </button>
        </div>
    </form>

    <div class="row">
        <div class="col-md-4 text-center">
            <div class="btn-group">
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="$ctrl.calendarDate"
                        decrement="$ctrl.calendarView">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="$ctrl.calendarDate"
                        set-to-today>
                    Today
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="$ctrl.calendarDate"
                        increment="$ctrl.calendarView">
                    Next
                </button>
            </div>
        </div>

        <div class="col-md-4 text-center">
            {{$ctrl.moment($ctrl.calendarDate).format('LL')}}
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-4 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'year'">Year</label>
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'month'">Month</label>
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'week'">Week</label>
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'day'">Day</label>
            </div>
        </div>

    </div>
    <mwl-calendar
            view="$ctrl.calendarView"
            view-date="$ctrl.calendarDate"
            events="$ctrl.events"
            view-title="$ctrl.calendarTitle"
            on-event-click="$ctrl.eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="true">
    </mwl-calendar>
</div>