<div class="well">
    <H1>Common object sharing</H1>

    <div class="row">

        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="$ctrl.calendarDate"
                        decrement="$ctrl.calendarView">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="$ctrl.calendarDate"
                        set-to-today>
                    Today
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="$ctrl.calendarDate"
                        increment="$ctrl.calendarView">
                    Next
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'year'">Year</label>
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'month'">Month</label>
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'week'">Week</label>
                <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'day'">Day</label>
            </div>
        </div>

    </div>
    <mwl-calendar
            view="$ctrl.calendarView"
            view-date="$ctrl.calendarDate"
            events="$ctrl.events"
            view-title="$ctrl.calendarTitle"
            on-event-click="$ctrl.eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="true">
    </mwl-calendar>
    <div ng-model="$ctrl.calendarView">{{$ctrl.calendarView}}</div>
</div>