<div class="container">
    <div class="jumbotron">
        <h1>Countables</h1>
        <span>Define and count objects</span>

        <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
            <div class="panel panel-default">
                <div class="panel-heading panel-hover" role="tab">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            Count Things
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" role="tabpanel" bs-collapse-target uib-collapse="false">
                    <div class="panel-body" style="min-height: 51vh">
                        <ul>
                            <li ng-repeat="item in $ctrl.words">
                                <a ng-click="$ctrl.count(item.uuid)" ng-style="{'font-size': item.size + 'px'}">{{ item.name }}</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-hover" role="tab">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            Define Things
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                        <objecteditor schema="countable" action="create"></objecteditor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>