            <div>
                Hallo Du...!
            </div>

<!--
<div class="modal-body">
    <div class="panel-group" ng-model="$ctrl.panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
        <div class="panel panel-default" ng-repeat="logbook in logbooklist">
            <div bs-collapse-toggle class="panel-heading">
                {{$ctrl.logbook.name}}
                <button ng-click="$ctrl.selectLogbook($ctrl.logbook.uuid); $modalCancel()"
                        class="pull-right btn btn-xs btn-success">Select
                </button>

            </div>

            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body" ng-bind-html="logbook.description">

                </div>
                <div class="btn-group pull-right" style="padding: 10px" role="group" aria-label="...">
                    <a ng-click="$modalCancel()" href="#/obj/logbook/{{$ctrl.logbook.uuid}}"
                       class="btn btn-sm btn-primary">Edit</a>
                    <a ng-click="$modalCancel()" href="#/obj/logbook/{{$ctrl.logbook.uuid}}/delete"
                       class="btn btn-sm btn-danger">Delete</a>

                </div>

            </div>

        </div>
    </div>

    <div class="modal-footer">
        <form>
            <a id="logbookcfgnew" href="#/obj/logbook/create" ng-click="$modalCancel()"
               class="btn btn-large btn-primary">
                New
            </a>
            <button id="logbookcfgcancel" ng-click="$modalCancel()" class="btn btn-default btn-large">
                Close
            </button>
        </form>
    </div>
</div>

-->
