<div id="dashboardjumbo"
     class="jumbotron"
     style="padding-top: 5px; position: absolute;"
     ng-style="{position: $ctrl.hideui && 'absolute' || 'relative'}">
    <ul class="nav nav-pills"
        role="tablist"
        ng-style="{display: $ctrl.hideui && 'none' || 'block'}">
        <li class="active"><a role="tab" ng-click="$ctrl.opentab('dashboard')" data-toggle="tab">Dashboard</a></li>
        <li><a role="tab" ng-click="$ctrl.opentab('sensed')" data-toggle="tab">Received Sensordata</a></li>
        <li>
            <a href="#!/editor/dashboardconfig/{{$ctrl.dashboard.uuid}}/edit">
                <span class="fa fa-wrench"></span>
            </a>
        </li>
        <li class="pull-right">
                <span class="fa fa-columns btn"
                      ng-show="$ctrl.lockState"
                      ng-click="$ctrl.showBoxes = !$ctrl.showBoxes"
                      ng-class="{'btn-enabled':$ctrl.showBoxes,
                                 'btn-disabled':!$ctrl.showBoxes}">
                </span>
                <span class="fa fa-arrow-circle-up btn"
                      ng-show="$ctrl.lockState"
                      ng-click="$ctrl.gridsterOptions.floating = !$ctrl.gridsterOptions.floating"
                      ng-class="{'btn-enabled':$ctrl.gridsterOptions.floating,
                                 'btn-disabled':!$ctrl.gridsterOptions.floating}">
                    </span>

                <span class="fa btn"
                      ng-click="$ctrl.toggleLock()"
                      ng-class="{'fa-lock':!$ctrl.lockState,'fa-unlock':$ctrl.lockState}"
                      ng-model="$ctrl.lockState"></span>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
         <div class="tab-pane active" id="dashboard">
            <div gridster="$ctrl.gridsterOptions">
                <ul>
                    <li data-gridster-item
                        class="dashboard-box"
                        data-row="item.position.x"
                        data-col="item.position.y"
                        data-sizex="item.size.width"
                        data-sizey="item.size.height"
                        ng-repeat="item in $ctrl.dashboard.cards"
                        ng-style="{'border-style': $ctrl.showBoxes ? 'solid' : 'none'}">
                        <div class="boxOverlay" ng-show="$ctrl.lockState"></div>
                        <div class="box">
                            <div class="box-header" ng-show="$ctrl.showBoxes">
                                <h3>{{ item.title }} - {{item.widgettype}}</h3>

                                <div class="hidden box-header-btns pull-right">
                                    <a title="settings" ng-click="$ctrl.openSettings(item)"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                    <a title="Remove widget" ng-click="$ctrl.remove(item)"><i
                                        class="glyphicon glyphicon-trash"></i></a>
                                </div>
                            </div>
                            <div class="box-content" ng-dynamic-controller="item.widgettype"
                                 valuetype="item.valuetype">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-pane" id="sensed">
            <div class="well" id="sensedFrame">
                <h1>Recently sensed data</h1>
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Identifier</th>
                        <th>Sentence name</th>
                        <th>Value title</th>
                        <th>Last value</th>
                        <th>Last sensed</th>
                        <th>Record?</th>
                        <th>Dashboard?</th>
                    </tr>
                    <tr ng-repeat="(key, item) in $ctrl.sensed | orderBy: 'sentence'">
                        <td>{{key}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.sentence}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.lastvalue}}</td>
                        <td>{{$ctrl.humanize($ctrl.now - item.timestamp, {round:true})}}</td>
                        <td><input bs-switch ng-model="item.record" type="checkbox" switch-size="small"></td>
                        <td><input bs-switch ng-model="item.observed" ng-change="$ctrl.toggleDashboardItem(key)"
                                   type="checkbox" switch-size="small"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
