@import '../../../colors.scss';

#compass {
  width: 50px;
  height: 50px;
  background-image: url('/assets/icons/iconmonstr-compass-6-icon.svg');
  background-size: 50px auto;
  position: relative;
}

#compass:hover #arrow {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

#navdata {
  font-size: xx-large;
  color: black;
}

.box {
  height: 100%;
  border: 2px solid $color-primary-3;
  /*background-color: #fff;*/
}

.box-header {
  /*background-color: #eee; */
  padding: 0 10px 0 10px;
  border-bottom: 1px solid $color-primary-3;
  cursor: move;
  position: relative;
  max-height: 36px;
  overflow: hidden;
}

.box-header h3 {
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 10px;
  display: inline-block;
}

.box-content {
  padding: 0px;
  vertical-align: middle;
  text-align: center;
}

.box-header-btns {
  top: 15px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}

.digital {
  font-family: "Digital";
  font-size: 5em;
  line-height: 1;
  //height: 100%;
  text-align: center;
  vertical-align: middle;
}

.digital-inverted {
  @extend .digital;
  mix-blend-mode: difference;
  position: absolute;
  width: 100%;
}

.digital-inverted-right {
  @extend .digital-inverted;
  text-align: right;
  right: 15px;
}

.simplebarreadout {
  text-align: left;
}

.simplebarreadout > .center-block.small {
  position: absolute;
  bottom: 0;
  mix-blend-mode: difference;
}

.simplebar {
  display: inline-block;
  height: 5em;
}

.dashbar {
  position: absolute;
}

.inverted-bar {
  position: relative;
  width: 300px;
}

.inverted-bar div {
  padding: 10px 0;
  text-indent: 10px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.inverted-bar .outer {
  background-color: $color-white;
  color: $color-primary-0;
  width: 100%;
}

.inverted-bar .inner {
  background-color: $color-primary-0;
  color: $color-white;
  width: 30%;
}

.historybars {
  height: 100px;
}

.historybar {
  width: 8%;
  display: inline-block;
  background-color: $color-primary-0;
  vertical-align: bottom;
}

.historybar-placeholder {
  height: 100%;
  width: 0;
}

/* SimpleCompass */

.angleMark {
  stroke: $color-primary-3;
  stroke-width: 2px;
}

.compassCross {
  stroke: $color-primary-3;
}

.compassArrow {
  stroke: $color-primary-4;
  fill: $color-primary-4;
}

.compassArea {
  stroke: $color-primary-2;
  fill: none;
}

.compassCenter {
  fill: $color-primary-3;
}

.ynArrow {
  fill: $color-secondary-2-4;
  stroke: $color-secondary-2-2;
}

.angleSweep {
  stroke: $color-secondary-1-4;
  fill: $color-secondary-1-3;
}

.angleText {
  fill: $color-primary-4;
  font-weight: lighter;
  font-size: 12px;
}


/* Linechart */

.linechart > angular-chart {
  overflow: hidden;
}