<div class="container">
    <div class="well">
        <h4><a href="#/wiki/Home">Wiki:</a> <a href="#/wiki/{{$ctrl.pagename}}">{{$ctrl.title}}</a></h4>

        <small>
            <span class="small">
                <span>Slug: <a href="#/wiki/{{$ctrl.pagename}}">{{$ctrl.pagename}}</a></span>
                <span ng-hide="$ctrl.note == ''">Note: <span ng-bind-html="$ctrl.note"></span>/span>
            </span>

            <button class="btn btn-default btn-xs" type="button" ng-click="$ctrl.editpage()"
                    ng-hide="$ctrl.pageuuid == ''">Edit page
            </button>

            <div class="form-inline">
                <div class="form-group" ng-hide="$ctrl.pageuuid != ''">
                    <button class="btn btn-default btn-xs" type="button"
                            ng-click="$ctrl.createPage()">Create from template:
                    </button>

                    <select class="inline-form" ng-model="$ctrl.selectedtemplate">
                        <option selected="true" value="">Empty page</option>
                        <option ng-repeat="template in $ctrl.templates" value="{{template.uuid}}">
                        <span>
                            <span class="fa" ng-class="template.icon"></span>
                            {{template.name}}
                        </span>
                        </option>
                    </select>
                </div>
            </div>
        </small>

        <div ng-bind-html="$ctrl.html"></div>
    </div>
</div>
